{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://jakewarren2414.github.io/FirstFastpages/images/FootballForComputerSci.jpeg" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What sports do I play?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I play football. This is my favorite sport. I spend most o my time on it. Right now we are in the season.</li>
                            <li>I also run track. I feel like I'm better at track because I am very fast. I run an 11.46 100m time. i'm going to try to go to college for track.  </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Sports Button</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are my classes?</h5>
                    <p class="card-text">
                        <ol>
                            <li>APES. This class studies enviornments. It combines chemistry, biology, and many other classes. </li>
                            <li>American Literature. This class is LOTS and LOTS of reading and writing. </li>
                            <li>AFA. This is the easiest math class I have taken.</li>
                            <li>APCSP. This is the class i'm in while writing this. It studys code</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are my faovrite fast food places?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Popeyes. I like popeyes mostly because of their chicken and fries.</li>
                            <li>Canes is similar to popeyes. I love fried chicken.</li>
                            <li>Fives guys. Even though its expensive it is very good.</li>
                            <li>In n Out. The classic California resurant. Everybody loves in n out.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}